{% extends 'base.html' %}
{% block linkCss %}
    <link rel="stylesheet" href="./../static/contato.css">
{% endblock %}
{% block content %}
    <section>
        <h1>Entre em contato</h1>
        <p>Descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato.</p>
        <hr/>
        <form method="post" action="/contato">
            <h1>Seu e-mail:</h1>
            <input class="inputText" type="email" name="email" 
            placeholder="Insira um email" required >
            <h1>Assunto:</h1>
            <input class="inputText" type="text" name="assunto" 
            placeholder="Insira um assunto" required>
            <h1>Descrição:</h1>
            <textarea name="descrição" cols="14" rows="3"
                placeholder="Insira uma descrição" required></textarea>
            <br/>
            <input class="inputButton" type="submit" value="Enviar">
        </form>
    </section>
{% endblock %}