{% extends 'base.html' %}
{% block linkCss %}
    <link rel="stylesheet" href="./../static/contato.css">
    <script defer>
        function closeP() {fecha=document.getElementById("popUp").style.display = "none";}
    </script>
{% endblock %}
{% block content %}
    <section>
        <h1>Entre em contato</h1>
        <p>Descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato.</p>
        <hr/>
        <form method="post" action="/contato">
            <h1>Seu e-mail:</h1>
            <input class="inputText" type="email" name="email" 
            placeholder="Insira um email" required >
            <h1>Assunto:</h1>
            <input class="inputText" type="text" name="assunto" 
            placeholder="Insira um assunto" required>
            <h1>Descrição:</h1>
            <textarea name="descrição" cols="14" rows="3"
                placeholder="Insira uma descrição" required></textarea>
            <br/>
            <input class="inputButton" type="submit" value="Enviar">
        </form>
        <!-- Pop-Up -->
        <div
        class="popUp" id ="popUp" onclick="closeP()" style="display: {{d}}">
            <div>
                <a class="x" onclick="closeP()">X</a>
                <h1>Sucesso!</h1>
                <div>
                    <a class="buttonBackAgain" href="/contato">Fazer outro cadastro</a>
                    <div></div>
                    <a class="buttonShow" href="/users">Ver cadastros</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}