{% extends 'base.html' %}
{% block linkCss %}
    <link rel="stylesheet" href="./../static/contato.css">
{% endblock %}
{% block content %}
    <section>
        <h1>Entre em contato</h1>
        <p>Descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato.</p>
        <hr/>
        <form>
            <h1>Seu e-mail:</h1>
            <input class="inputText" type="email" placeholder="Insira um email">
            <h1>Assunto:</h1>
            <input class="inputText" type="text" placeholder="Insira um assunto">
            <h1>Descrição:</h1>
            <textarea name="Descrição" cols="14" rows="3"
                placeholder="Insira uma descrição"></textarea>
            <br/>
            <input
            class="inputButton" type="submit" value="Enviar">
        </form>
    </section>
{% endblock %}