<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>UNES Universidade</title>
        <link rel="stylesheet" href="./../static/style.css">
        <link rel="stylesheet" href="./../static/index.css">
    </head>
    <body>
        <div class="flex">
            <div class="startEnd"></div>
            <div class="center">
                <!--    Espaçamento Navbar  !-->
                <nav class="backgroundNavbar">
                    <hr>
                    <div>
                        <img src="./../static/img/logo.png" alt="imagem_logo">
                    </div>
                </nav>
                <!--    Navbar Fixo !-->
                <nav class="navbar">
                    <!--    Barra Azul  !-->
                    <hr>
                    <div>
                        <div class="startEnd"></div>
                        <div class="center">
                            <img src="./../static/img/logo.png" alt="imagem_logo">
                            <div class="centerNav"></div>
                            <div class="nav">
                                <a>Home</a>
                                <div class="pipe">|</div>
                                <a href="quemSomos.html">Quem Somos</a>
                                <div class="pipe">|</div>
                                <a href="contato.html">Contato</a>
                            </div>
                            <div class="rightNav"></div>
                        </div>
                        <div class="startEnd"></div>
                    </div>
                </nav>
            <!--    Conteúdo    !-->
            </div>
            <div class="startEnd"></div>
        </div>
        <!--    Capa !-->
        <div class="cover">
            <a class="startEnd"></a>
            <div class="center">
                <img src="./../static/img/capa.png" alt="imagem_capa" class="imgCenter">
            </div>
            <a class="startEnd"></a>
        </div>
        <div class="flex">
            <div class="startEnd"></div>
            <section class="center">
                <!-- Textos -->
                <h1>Sobre a universidade</h1>
                <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
                <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
            <footer>Todos os direitos reservados</footer>
            </section>
            <div class="startEnd"></div>
        </div>
    </body>
</html>