{% extends 'base.html' %}
{% block linkCss %}
<link rel="stylesheet" href="./../static/index.css">
{% endblock %}
{% block content %}
    </div>
    <div class="startEnd"></div>
</div>
<!--    Capa    !-->
<div class="cover">
    <a class="startEnd"></a>
    <div class="center">
        <img src="./../static/img/capa.png" alt="imagem_capa" class="imgCenter">
    </div>
    <a class="startEnd"></a>
</div>
<div class="flex">
    <div class="startEnd"></div>
    <div class="center">
        <section>
            <!-- Textos -->
            <h1>Sobre a universidade</h1>
            <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
            <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
        </section>
{% endblock %}
