{% extends 'base.html' %}
{% block linkCss %}
<link rel="stylesheet" href="./../static/index.css">
{% endblock %}
{% block content %}
    </div>
    <div class="startEnd"></div>
</div>
<!--    Capa    !-->
<div class="cover">
    <a class="startEnd"></a>
    <div class="center">
        <img src="./../static/img/capa.png" alt="imagem_capa" class="imgCenter">
    </div>
    <a class="startEnd"></a>
</div>
<div class="flex">
    <div class="startEnd"></div>
    <div class="center">
        <section>
            <!-- Textos -->
            <h1>Sobre a universidade</h1>
            <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
            <p>Descrição <b>sobre a universidade</b>, descrição sobre a universidade , descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade, descrição sobre a universidade. </p>
            <h1>Entre em contato</h1>
            <p>Descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato, descrição sobre o contato.</p>
            <hr/>
            <form>
                <h1>Seu e-mail:</h1>
                <input class="inputText" type="email" placeholder="Insira um email">
                <h1>Assunto:</h1>
                <input class="inputText" type="text" placeholder="Insira um assunto">
                <h1>Descrição:</h1>
                <textarea name="Descrição" cols="14" rows="3"
                    placeholder="Insira uma descrição"></textarea>
                <br/>
                <input
                class="inputButton" type="submit" value="Enviar">
            </form>
        </section>
{% endblock %}
