{% extends 'base.html' %}
{% block linkCss %}
<link rel="stylesheet" href="./../static/quemSomos.css">
{% endblock %}
{% block content %}
<section>
    <h1>Quem somos</h1>
    <p>Descrição sobre<b> quem somos</b>, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos, descrição sobre quem somos. </p>

    <h1>5 motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>

    <hr/>

    <h1>Objetivos</h1>
    <p>Descrição sobre<b> objetivos</b>, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos, descrição sobre objetivos. </p>
</section>
{% endblock %}