/* FORMULÁRIO */
textarea{
    resize:both
}

form h1{
    font-weight: 300
}

textarea::placeholder,
.inputText::placeholder{
    color: var(--cinza)
}

.inputText,
textarea{
    width: 300px
}

textarea{
    min-width: 302px;
    max-width: 302px
}

/* Pop-UP */
.popUp{
    background-color: var(--apagado);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.popUp div{
    background-color: var(--branco);
    border-radius: 10px;
    top: 10px;
    width: 70%
}

.x{
    color: var(--preto);
    cursor: pointer;
    float: right
}

.x,
.buttonShow,
.buttonBackAgain{
    text-decoration: none
}

.buttonShow,
.buttonBackAgain {
    color: var(--branco);
    border: var(--preto) solid 2.5px;
    border-radius: 10px
}

.buttonBackAgain{
    background-color: var(--verde)
}
.buttonShow{
    background-color: var(--vermelho)
}

/* FONT-SIZE E PADDING */
.popUp div h1{
    font-size: 30px
}

form h1{
    font-size: 25px;
    padding: 5px
}

.buttonShow, .buttonBackAgain {
    padding: 0 10%
}

.x{
    padding-top: 10px;
    padding-right: 10px
}

.popUp div{
    padding-bottom: 40px
}