/* Media Query for Mobile Devices */
@media (max-width: 480px){
    .startEnd{
        flex: 1
    }

    .center{
        width: 90%
    }

    section hr{
        margin-top: 20px
    }

    /* FONT-SIZE E PADDING */
    section p,
    b,
    li,
    .navbar a,
    .pipe{
        font-size: 12px
    }
    
    *{
        font-size: 15px
    }

    section h1{
        font-size: 30px;
        text-align: center;
        margin: auto;
        padding: 10px 0 5px 0
    }

    section p{
        padding-top: 5px
    }

    .pipe{
        padding: 0 10px
    }

    .backgroundNavbar img,
    .navbar img{
        padding: 10px 30px 10px 0;
        width: 150px
    }

    /* CONTATO.CSS */
    .popUp div div{
        display: flex;
        flex-wrap: wrap;
    }
    
    .buttonShow,
    .buttonBackAgain {
        width: 200px;
    }

    footer{
        padding: 50px 0 20px 0
    }

    .popUp div div h1{
        font-size: 40px
    }    

    form{
            text-align: center;
        }
        
    form h1{
        font-size: 20px;
        font-weight: 600;
    }

    .buttonShow,
    .buttonBackAgain {
        padding: 0 10%
    }
    
    .x{
        padding-top: 10px;
        padding-right: 10px
    }

    .popUp div{ 
        padding-bottom: 40px
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){
    .startEnd{
        flex: 1
    }

    .center{
        width: 95%
    }

    section hr{
        margin-top: 20px
    }

    /* FONT-SIZE E PADDING */
    section p,
    b,
    li,
    .navbar a,
    .pipe{
        font-size: 15px
    }
    
    *{
        font-size: 18px
    }

    section h1{
        font-size: 30px;
        text-align: center;
        margin: auto;
        padding: 10px 0 5px 0
    }

    section p{
        padding-top: 8px
    }

    .pipe{
        padding: 0 10px
    }

    .backgroundNavbar img,
    .navbar img{
        padding: 10px 30px 10px 0;
        width: 180px
    }

    /* CONTATO.CSS */
    
    .buttonShow,
    .buttonBackAgain {
        width: 200px;
    }

    footer{
        padding: 50px 0 20px 0
    }

    .popUp div div h1{
        font-size: 40px
    }    

    form{
            text-align: center;
        }
        
    form h1{
        font-size: 20px;
        font-weight: 600;
    }

    .buttonShow,
    .buttonBackAgain {
        padding: 0 10%
    }
    
    .x{
        padding-top: 10px;
        padding-right: 10px
    }

    .popUp div{ 
        padding-bottom: 40px
    }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .startEnd{
        flex: 1
    }

    .center{
        width: 80%
    }

    section hr{
        margin-top: 30px
    }

    /* FONT-SIZE E PADDING */
    section p,
    b,
    li,
    .navbar a,
    .pipe{
        font-size: 15px
    }
    
    *{
        font-size: 20px
    }

    section h1{
        font-size: 35px;
        margin: auto;
        padding: 10px 0 5px 0
    }

    section p{
        padding-top: 10px
    }

    .pipe{
        padding: 0 10px
    }

    .backgroundNavbar img,
    .navbar img{
        padding: 10px 30px 10px 0;
        width: 210px
    }

    /* CONTATO.CSS */
    
    .buttonShow,
    .buttonBackAgain {
        width: 200px;
    }

    footer{
        padding: 50px 0 20px 0
    }

    .popUp div div h1{
        font-size: 40px
    }    

    form h1{
        font-size: 20px;
        font-weight: 600;
    }

    .buttonShow,
    .buttonBackAgain {
        padding: 0 10%
    }
    
    .x{
        padding-top: 10px;
        padding-right: 10px
    }

    .popUp div{ 
        padding-bottom: 40px
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .startEnd{
        flex: 1
    }

    .center{
        width: 85%
    }

    section hr{
        margin-top: 32px
    }

    /* FONT-SIZE E PADDING */
    section p,
    b,
    li,
    .navbar a,
    .pipe{
        font-size: 18px
    }
    
    *{
        font-size: 22px
    }

    section h1{
        font-size: 38px;
        margin: auto;
        padding: 20px 0 5px 0
    }

    section p{
        padding-top: 12px
    }

    .pipe{
        padding: 0 10px
    }

    .backgroundNavbar img,
    .navbar img{
        padding: 10px 30px 10px 0;
        width: 240px
    }

    /* CONTATO.CSS */
    
    .buttonShow,
    .buttonBackAgain {
        width: 200px;
    }

    footer{
        padding: 50px 0 20px 0
    }

    .popUp div div h1{
        font-size: 40px
    }    
        
    form h1{
        font-size: 20px;
        font-weight: 600;
    }

    .buttonShow,
    .buttonBackAgain {
        padding: 0 10%
    }
    
    .x{
        padding-top: 10px;
        padding-right: 10px
    }

    .popUp div{ 
        padding-bottom: 40px
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .startEnd{
        flex: 1
    }

    .center{
        width: 85%
    }

    section hr{
        margin-top: 32px
    }

    /* FONT-SIZE E PADDING */
    section p,
    b,
    li,
    .navbar a,
    .pipe{
        font-size: 18px
    }
    
    *{
        font-size: 22px
    }

    section h1{
        font-size: 38px;
        margin: auto;
        padding: 20px 0 5px 0
    }

    section p{
        padding-top: 12px
    }

    .pipe{
        padding: 0 10px
    }

    .backgroundNavbar img,
    .navbar img{
        padding: 10px 30px 10px 0;
        width: 240px
    }

    /* CONTATO.CSS */
    
    .buttonShow,
    .buttonBackAgain {
        width: 200px;
    }

    footer{
        padding: 50px 0 20px 0
    }

    .popUp div div h1{
        font-size: 40px
    }    
        
    form h1{
        font-size: 20px;
        font-weight: 600;
    }

    .buttonShow,
    .buttonBackAgain {
        padding: 0 10%
    }
    
    .x{
        padding-top: 10px;
        padding-right: 10px
    }

    .popUp div{ 
        padding-bottom: 40px
    }
}