/* CORES */
:root{
    --cinza: #8f8e8e;
    --branco: #ffffff;
    --fundo: #AEF1E5;
    --azul: #0000ff;
    --barra: #383f5d;
    --roxo: #870087;
    --preto: #000000;
    --apagado: #0000008c;
    --verde: #006400;
    --vermelho: #ff0000;
}

/* GERAIS */
*{
    margin: auto
}
section{
    text-align: justify
}

footer{
    font-weight: 800;
    text-align: center
}

/* NAVBAR*/
.navbar{
    background-color: var(--branco);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.navbar hr,
.backgroundNavbar hr{
    background: var(--barra);
    height: 6px;
    position:relative
}

.navbar a{
    color: var(--roxo)
}

.navbar a:any-link{
    color: var(--azul)
}

.navbar a:hover{
    color: var(--preto)
}

/* FLEX */
.flex,
.navbar .center,
.navbar div{
    display: flex
}

.startEnd,
.rightNav{
    flex: 1
}

.nav{
    flex: 2
}

.centerNav{
    flex: 4
}

.center{
    flex: 10
}

/* FONT-SIZE E PADDING */
section p,
b,
li,
.navbar a,
.pipe{
    font-size: 15px
}

*{
    font-size: 20px
}

section h1{
    font-size: 35px;
    padding-top: 20px
}

section p{
    padding-top: 10px
}

.backgroundNavbar img,
.navbar img{
    padding: 10px 0 10px 0
}

footer{
    padding: 50px 0 20px 0
}