/* CORES */
:root{
    --cinza: #8f8e8e;
    --branco: #ffffff;
    --fundo: #AEF1E5;
    --azul: #0000ff;
    --barra: #383f5d;
    --roxo: #870087;
    --preto: #000000;
    --apagado: #0000008c;
    --verde: #006400;
    --vermelho: #ff0000;
}

/* GERAIS */
*{
    margin: auto
}

footer{
    font-weight: 800
}

.navbar,
.cover,
.cover .imgCenter{
    width: 100%
}

footer,
.popUp div,
.Tli1,
.Tli2,
.Tli3,
.Cli1,
.Cli2{
    text-align: center
}

section,
.Cli3{
    text-align: justify
}

.navbar,
.popUp{
    position: fixed
}

/* NAVBAR*/
.navbar{
    background-color: var(--branco);
    left: 0;
    position: fixed;
    top: 0
}

.navbar hr,
.backgroundNavbar hr{
    background: var(--barra);
    height: 6px;
    position:relative
}

.navbar a{
    color: var(--roxo)
}

.navbar a:any-link{
    color: var(--azul)
}

.navbar a:hover{
    color: var(--preto)
}

/* FLEX */
.flex,
.navbar .center,
.navbar div,
.cover{
    display: flex
}